@import "../../global";

.menu-desktop {
  width: 100px;
  height: auto;
  border: 1px solid $color-secundary;
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  position: absolute;
  top: 50px;
  right: 60px;
  background-color: $color-4;
  z-index: 1;

  & ul {
    list-style: none;
  }
  & ul li {
    text-align: end;
  }
  & ul li:nth-child(1),
  & ul li:nth-child(2) {
    font-weight: bold;
  }
  & ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid $color-secundary;
  }
  & ul li a {
    color: $color-3;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
  }
  & ul li:last-child a {
    color: $color-primary;
    font-size: $font-sm;
  }
};
